<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211479868537-pggid8sjh5uk8ifm748uhc6aktou24v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211479868537-pggid8sjh5uk8ifm748uhc6aktou24v0</string>
	<key>API_KEY</key>
	<string>AIzaSyDeQAcHvOXnrdrfsK7ZsQwMQybM3nw5Jrc</string>
	<key>GCM_SENDER_ID</key>
	<string>211479868537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pradyotprakash.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-8b2ab</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-8b2ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211479868537:ios:867d2a017201742ac750a8</string>
</dict>
</plist>