on:
  push:
    branches:
      - main
    paths:
      - KotlinMultiplatform/**
name: KotlinMultiplatform Projects
jobs:
  TheMovieDBKMM:
    name: TheMovieDBKMM Code Checker
    runs-on: macos-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle
      - name: Checking TheMovieDBKMM
        working-directory: ./KotlinMultiplatform/TheMovieDBKMM
        run: |
          chmod +x ./gradlew
          ./gradlew assemble
      - name: Send Message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            GitHub Action for KotlinMultiplatform/TheMovieDBKMM is completed with status ${{ job.status }} for ${{ github.ref }}.
  KotlinMultiplatformSandbox:
    name: KotlinMultiplatformSandbox Code Checker
    runs-on: macos-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle
      - name: Checking KotlinMultiplatformSandbox
        working-directory: ./KotlinMultiplatform/KotlinMultiplatformSandbox
        run: |
          chmod +x ./gradlew
          ./gradlew assemble
      - name: Send Message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            GitHub Action for KotlinMultiplatform/KotlinMultiplatformSandbox is completed with status ${{ job.status }} for ${{ github.ref }}.
