on:
  push:
    branches:
      - main
    paths:
      - python/**
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
name: Python Projects
jobs:
  renter:
    name: renter Code Checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ricardochaves/python-lint@master
        with:
          python-root-list: "python/renter"
      - name: Send Message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            GitHub Action for python/renter is completed with status ${{ job.status }} for ${{ github.ref }}.
  programming:
    name: programming Code Checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ricardochaves/python-lint@master
        with:
          python-root-list: "python/programming"
      - name: Send Message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            GitHub Action for python/programming is completed with status ${{ job.status }} for ${{ github.ref }}.
  pyblog:
    name: pyblog Code Checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ricardochaves/python-lint@master
        with:
          python-root-list: "python/pyblog"
      - name: Send Message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            GitHub Action for python/pyblog is completed with status ${{ job.status }} for ${{ github.ref }}.
  pythonBootcamp:
    name: 2022_Python_Bootcamp Code Checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ricardochaves/python-lint@master
        with:
          python-root-list: "python/UdemyCourse/2022_Python_Bootcamp"
      - name: Send Message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            GitHub Action for python/pythonBootcamp is completed with status ${{ job.status }} for ${{ github.ref }}.
